<body class="bg-gray-100 flex justify-center items-center h-screen">
  <div class="bg-white p-6 rounded-lg shadow-xl text-center w-full max-w-md">
    <img src="/img/404 Error-rafiki.png" alt="Página Não Encontrada" class="w-32 mx-auto mb-6">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Oops! Página Não Encontrada</h1>
    <p class="text-lg text-gray-600 mb-6">A página que você está procurando não existe ou foi movida. Tente voltar para a home ou procurar outra página.</p>
    <a href="/" class="inline-block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">Voltar para a Home</a>
  </div>
</body>